

  <div class="community-info">
    <div class="row mt-4">
      <h1 class="is-size-5">{{name}}</h1>
      <div class="comm-img">
        <img src="{{image}}" alt="We could not find an image for this show!">
      </div>
      {{#if summary}}
      <div>{{{summary}}}</div>
      {{/if}}

      {{#if status}}
      <div>
        <p>Status:{{status}}</p>
      </div>
      {{/if}}

      {{#if premiere}}
      <div>
        <p>Premiere date: {{format_date premiere}}</p>
      </div>
      {{/if}}
      {{#if ended}}
      <div>
        <p>End Date: {{format_date ended}}</p>
      </div>
      {{/if}}
      {{#if runtime}}
      <div>
        <p>Runtime: {{runtime}} minutes</p>
      </div>
      {{/if}}
      {{#if officialSite}}
      <div>
        <p>Official site: {{officialSite}}</p>
      </div>
      {{/if}}
    </div>
    </div>
    <div class="col-md-6 blog-list">
      <h3>Top Conversations:</h3>

      {{#each threads as |threads|}}
      <div class="row mb-2">
        <a href="/threads/{{threads.id}}">{{threads.subject}}</a>
      </div>
      <div class="row mb-2">
      </div>
      {{/each}}
      <a href="{{id}}/threads">See More Conversations...</a>
    </div>

    
    <div class="col-md-6 blog-list">

      <h3>Top Reviews:</h3>

      {{#each reviews as |review|}}
      <div class="row mb-2">
        <a href="/reviews/{{review.id}}">{{review.subject}}</a>
      </div>
      <div class="row mb-2">
      </div>
      {{/each}}
      {{#if reviews.length}}
      <a href="{{id}}/reviews">See More Reviews...</a>
    {{else}}
    <a href="{{id}}/newreview">Write the first Review!</a>
    {{/if}}
    </div>
  

  
  {{!-- <script src="./js/dashboard.js"></script> --}}