<div class="row">
  <div class="col-auto">
  </div>
</div>

<div class="row mt-4">
<h1>{{name}}</h1>

  <div class="col-md-6 blog-list">
    <h3>Top Conversations:</h3>

    {{#each threads as |threads|}}
    <div class="row mb-2">
      <a href="/threads/{{threads.id}}">{{threads.subject}}</a>
    </div>
    {{/each}}
  </div>

  {{#if reviews.length}}
  <div class="col-md-6 blog-list">
    <h3>Top Reviews:</h3>

    {{#each reviews as |review|}}
    <div class="row mb-2">
      <a href="/reviews/{{review.id}}">{{review.subject}}</a>
    </div>
    {{/each}}
  </div>
  {{/if}}
</div>

{{!-- <script src="./js/dashboard.js"></script> --}}
