<link rel="stylesheet" href="/css/style.css">


<h1 class="is-size-4 pb-6"><a href="/community/{{community.id}}/">{{community.name}}</a></h1>


  <div class="blog-list">
    <h3 class="is-size-5 pb-4">Community Conversations:</h3>

    {{#each threads as |threads|}}
    <div class="row mb-2 box scroll-hover">
      <a href="/threads/{{threads.id}}">{{threads.subject}}</a>
      <p>by {{threads.user.name}} on {{format_date threads.date_created}}</p>
    </div>
    {{/each}}

    <a href="newthread" class="button is-dark mt-4">Start a new conversation</a>
  </div>

  
