
<div>
<p>Block of Welcome Text!</p>
</div>

<div>
    <h2>Trending Communities</h2>
</div>

<div>
    <h3>{{communitiesOne.[0].name}}</h3>
    <p>Latest Thread:</p>
    <div>{{threadsCommunityOne.[0].subject}}</div>
    <p>Latest Review:</p>
    <div>{{reviewsCommunityOne.subject}}</div>
</div>

<div>
    <h3>{{communitiesTwo.[0].name}}</h3>
    <p>Latest Thread:</p>
    <div>{{threadsCommunityTwo.[0].subject}}</div>
    <p>Latest Review:</p>
    <div>{{reviewsCommunityTwo.subject}}</div>
</div>



<script src="/js/homepage.js"></script>