
<div>
<p>Block of Welcome Text!</p>
</div>

<div>
    <h2>Trending Communities</h2>
</div>

<div>
    <h3>
        <a href="/community/{{communitiesOne.[0].id}}">{{communitiesOne.[0].name}}</a>
    </h3>
    <p>Latest Thread:</p>
    <div>
        <a href="/threads/{{threadsCommunityOne.[0].id}}">{{threadsCommunityOne.[0].subject}}</a>
        <br>
        <p>posted by: {{threadsCommunityOne.[0].user.name}} on {{format_date threadsCommunityOne.[0].date_created}}</p>
    </div>
    <p>Latest Review:</p>
    <div>
        <a href="/reviews/{{reviewsCommunityOne.id}}">{{reviewsCommunityOne.subject}}</a>
        <br>
        <p>posted by: {{reviewsCommunityOne.users.[0].name}} on {{format_date threadsCommunityOne.date_created}}</p>
    </div>
</div>

<div>
    <h3>
        <a href="/community/{{communitiesTwo.[0].id}}">{{communitiesTwo.[0].name}}</a>
    </h3>
    <p>Latest Thread:</p>
    <div>
         <a href="/threads/{{threadsCommunityTwo.[0].id}}">{{threadsCommunityTwo.[0].subject}}</a>
        <br>
        <p>posted by: {{threadsCommunityTwo.[0].user.name}} on {{format_date threadsCommunityTwo.[0].date_created}}</p>
       
    </div>
    <p>Latest Review:</p>
    <div>
        <a href="/reviews/{{reviewsCommunityTwo.id}}">{{reviewsCommunityTwo.subject}}</a>
        <br>
        <p>posted by: {{reviewsCommunityTwo.users.[0].name}} on {{format_date reviewsCommunityTwo.date_created}}</p>
    </div>
</div>



<script src="/js/homepage.js"></script>