<div class="flex justify-center items-center w-screen h-screen my-6">
  <div>
    <div>
      {{#if communities.length}}
      <div>
        <h4>My Communities:</h4>
        {{#each communities as |community|}}
        <div>
          <a href="/community/{{community.id}}">{{community.name}}</a>
        </div>
        {{/each}}
      </div>
      {{/if}}

      {{#if threads.length}}
      <div>
        <h3>My Conversations:</h3>
        {{#each threads as |thread|}}
        <div>
          <a href="/threads/{{thread.id}}">{{thread.subject}}</a>
        </div>
        {{/each}}
      </div>
      {{/if}}

      {{#if reviews.length}}
      <div>
        <h3>My Reviews:</h3>
        {{#each reviews as |review|}}
        <div>
          <a href="/reviews/{{review.id}}">{{review.subject}}</a>
        </div>
        {{/each}}
      </div>
      {{/if}}
    </div>
  </div>
</div>

