{{!-- 
  <div class="profile">  
  {{#if communities.length}}
    <div class="col-md-6 blog-list">
--}}
<div class="welcome">
  <h2>Welcome, {{user.name}}!</h2>
  <img src="{{user.avatarPath}}" alt="" width="100" height="100">
</div>
<div class="profile">

  <div class="my-communities">
    <h3>My Communities:</h3>
    {{#if communities.length}}
    {{#each communities as |communities|}}
    <div>
      <a href="/community/{{communities.id}}">{{communities.name}}</a>
    </div>
    {{/each}}
    {{else}}
    <a href="/search"><h3>+ Search for a Show</h3></a>
    {{/if}}
  </div>

  <div class="my-conversations">
    <h3>My Conversations:</h3>
    {{#if threads.length}}
    {{#each threads as |thread|}}
    <div class="row mb-2">
      <a href="/threads/{{thread.id}}">{{thread.subject}}</a>
    </div>
    {{/each}}
    {{/if}}
  </div>

  <div class="my-reviews">
    <h3>My Reviews:</h3>
    {{#if reviews.length}}
    {{#each reviews as |review|}}
    <div class="row mb-2">
      <a href="/reviews/{{review.id}}">{{review.subject}}</a>
    </div>
    {{/each}}
    {{/if}}
  </div>
</div>

















{{!-- 

      <h3>My Communities:</h3>

      {{#each communities as |communities|}}
      <div class="row mb-2">
        <a href="/community/{{communities.id}}">{{communities.name}}</a>
      </div>
      {{/each}}
    </div>
    {{/if}}

  {{#if threads.length}}
  <div class="col-md-6 blog-list">
    <h3>My Conversations:</h3>

    {{#each threads as |thread|}}
    <div class="row mb-2">
      <a href="/threads/{{thread.id}}">{{thread.subject}}</a>
    </div>
    {{/each}}
  </div>
  {{/if}}


  {{#if reviews.length}}
  <div class="col-md-6 blog-list">
    <h3>My Reviews:</h3>

    {{#each reviews as |review|}}
    <div class="row mb-2">
      <a href="/reviews/{{review.id}}">{{review.subject}}</a>
    </div>
    {{/each}}
  </div>
  {{/if}}
</div>
</div> --}}

{{!-- <script src="./js/script.js"></script> --}}
