<div class="mx-12"> 
  {{#if communities.length}}
    <h3>My Communities:</h3>
    {{#each communities as |community|}}
      <a href="/community/{{community.id}}">{{community.name}}</a><br>
    {{/each}}
  {{/if}}

  {{#if threads.length}}
    <h3>My Conversations:</h3>
    {{#each threads as |thread|}}
      <a href="/threads/{{thread.id}}">{{thread.subject}}</a><br>
    {{/each}}
  {{/if}}

  {{#if reviews.length}}
    <h3>My Reviews:</h3>
    {{#each reviews as |review|}}
      <a href="/reviews/{{review.id}}">{{review.subject}}</a><br>
    {{/each}}
  {{/if}}
</div>