
  <link rel="stylesheet" href="/css/style.css">


    <div class="reviewContainer">
        {{!-- for some reason can not change the font size of this element, i know i am targeting it because i can apply other styles to it --}}
    <a href="/community/{{community.id}}/" id="reviewShow"><h1 id="reviewShow" class="is-size-4 pb-4 mt-6 reviewShowName">{{community.name}}</h1></a>

    <div class="reviewSubUser">
        <h3 class="has-text-weight-semibold pb-4 reviewSubject">{{subject}}</h3>

        <img src="{{user.avatarPath}}" alt="user avatar" width="30" height="30" class="reviewUser">
        <span class="reviewUser">{{user.name}} on {{format_date date_created}}</span>

    </div>

    <div class="pt-4">
        <p>{{body}}:</p>
    </div>
    <br>
    <p class="pb-2"> {{plusones}} plusOnes added</p>
    {{#if logged_in}}
        {{#if plus_one_render}}
        <div class="plusone-container">
        <a href="" class="plusOneButton button is-dark">Add a plusOne</a>
        </div>
        {{else}}
        <div class="plusone-container-null">
        <p>You added a plusOne to this post!</p>
        </div>
        {{/if}}
    {{/if}}
    </div>


</div>

<script src="/js/plusones.js"></script>