<div>
    <a href="/community/{{community.id}}/"><h1>{{community.name}}</h1></a>

    <div>
        <h3>{{subject}}</h3>

        <img src="{{user.avatarPath}}" alt="user avatar" width="30" height="30">
        <span>{{user.name}} on {{format_date date_created}}</span>

    </div>

    <div>
        <p>{{body}}:</p>
    </div>
    <br>
    <p> {{plusones}} plusOnes added</p>
    {{#if logged_in}}
        {{#if plus_one_render}}
        <div class="plusone-container">
        <a href="" class="plusOneButton">Add a plusOne</a>
        </div>
        {{else}}
        <div class="plusone-container-null">
        <p>You added a plusOne to this post!</p>
        </div>
        {{/if}}
    {{/if}}
    </div>


</div>

<script src="/js/plusones.js"></script>