<div class="field has-addons searchbar">
    <div class="control">
        <input class="input" type="text" id="searchInput" placeholder="Search for a TV show...">
    </div>
    <div class="control">
        <a class="button is-info" id="searchButton">
            Search
        </a>
    </div>
</div>

<div id="searchResults">


    {{#each shows as |obj|}}
    {{!-- {{log obj}} --}}
    <div class="tv-show">
        <div class="search-img">
            <img src="{{obj.image.medium}}" alt="We could not find an image for this show!">
        </div>
        <div class="show-summary">
            <a href="/community/name/{{obj.api_id}}" data-show-name="{{obj.name}}">
                <h1 class="showName">{{obj.name}}</h1>
            </a>
            <div>
                {{{obj.summary}}}
            </div>
            <div class="show-info">
                {{#each obj.messages as |message|}}
                <div>
                    <p>{{message}}</p>
                </div>
                {{/each}}

            </div>
            <div>
                {{obj.id}}
            </div>
        </div>
    </div>




    {{/each}}
</div>


<script src="/js/search.js"></script>