<div>
    <input type="text" id="searchInput" placeholder="Search for a TV show...">
    <button id="searchButton">Search</button>
</div>

<div id="searchResults">


    {{#each shows as |obj|}}
    {{!-- {{log obj}} --}}
    <div class="tv-show">
        <a href="/community/name/{{obj.api_id}}" data-show-name="{{obj.name}}"><h1>{{obj.name}}</h1></a>
        <img src="{{obj.image.medium}}" alt="We could not find an image for this show!">
        {{{obj.summary}}}
       {{obj.id}}
       
       
       {{#each obj.messages as |message|}}
       <p>{{message}}</p>
       {{/each}}
        
    </div>
    {{/each}}
</div>


<script src="/js/search.js"></script>
