
<link rel="stylesheet" href="/css/style.css">

<div>
    <a href="/community/{{community.id}}/"><h1>{{community.name}}</h1></a>
    <h3 class = "mt-8 pb-6 is-size-5">{{subject}}</h3>
    <br>
    <img src="{{author.avatarPath}}" alt="user avatar" width="30" height="30">
    <span>{{author.name}} on {{format_date date_created}}</span>
    



        <div>
            <h3 class="pb-4">Replies:</h3>

            {{#each posts as |post|}}
            <div class="pb-4 is-italic">
            {{body}}
            <br>
            </div>
            {{/each}}
        </div>

    <div>
        <form class="form new-comment-form">
            <div class="form-group pt-4">
                <label for="post-body">Add a comment:</label>
                <br>
                <textarea class="form-input" id="post-body" name="post-body" rows="10" cols="40"></textarea>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Add Comment</button>
            </div>
        </form>
    </div>



</div>

  <script src="/js/new-post.js"></script>