<link rel="stylesheet" href="/css/style.css">

<div class="thread-container">
    <a  href="/community/{{thread.[0].community_id}}/"><h1 class="is-size-4 pb-4 mt-6 reviewShowName">{{thread.[0].name}}</h1></a>
    <h3 class = "mt-10 pb-4 is-size-5">{{subject}}</h3>
    <br>
    <img src="{{author.avatarPath}}" alt="user avatar" width="30" height="30">
    <span>{{author.name}} said:</span>
    <h3 class="threadSubject is-size-5 ">{{thread.[0].subject}}</h3>
    <p>on {{format_date date_created}}</p>

        <div class="threadReplies">
            <h3 class="pb-4">Replies:</h3>

            {{#each posts as |post|}}
            <p>{{user_name}} said:</p> 
            <div class="pb-4 is-size-5 is-italic">
                <p>on {{format_date date_created}}</p>
            {{body}}
            <br>
            </div>
            {{/each}}
        </div>

    <div class="commentBox">
        <form class="form field">
        {{!-- <div class="new-comment-form"> --}}
            <div class="form-group pt-4 ">
                <label for="post-body label">Add a comment:</label>
                <br>
                <div class="control">
                    <textarea class="form-input textarea" id="post-body" name="post-body" rows="5" cols="10"></textarea>
                </div>
            </div>
            <div class="form-group control pt-4">
                <button type="submit" class="button is-link is-dark new-comment-form">Add Comment</button>
            </div>
        {{!-- </div> --}}
        </form>
    </div>

<script src="/js/new-post.js"></script>

  {{!-- 

      <div class="field">
  <label class="label">Add a comment</label>
  <div class="control">
    <textarea class="textarea" placeholder="Textarea"></textarea>
  </div>
</div>
 <div class="control">
    <button class="button is-link is-dark">Add Comment</button>
  </div>
</div>



</div> --}}