
<link rel="stylesheet" href="/css/style.css">

<div class="thread-container">
    <a href="/community/{{thread.[0].community_id}}/"><h1>{{thread.[0].name}}</h1></a>
    
    <br>
    <img src="{{author.avatarPath}}" alt="user avatar" width="30" height="30">
    <span>{{author.name}} said:</span>
    <h3>{{thread.[0].subject}}</h3>
    <p>on {{format_date date_created}}</p>

    <div>
        
        <br><br>
        {{#each posts as |post|}}
        <div class="pb-4 is-italic">

        <p>{{user_name}} said: </p>
        {{body}}
        <p> on {{format_date date_created}}</p>
        <br>
        </div>
        {{/each}}
    </div>

    <div>
        <form class="form new-comment-form">
            <div class="form-group pt-4">
                <label for="post-body">Add a comment:</label>
                <br>
                <textarea class="form-input" id="post-body" name="post-body" rows="10" cols="40"></textarea>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Add Comment</button>
            </div>
        </form>
    </div>



</div>

  <script src="/js/new-post.js"></script>